/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}



/* GENERAL */
body {
  font-family: 'Inter';
}

.nav {
  background-color: #1A5339;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../bball_1.jpg');
  height: 70vh;
  background-color: #1A5339;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.our-pillars {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../tillebg.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.pillars {
  color: #fff;
  /* padding-top: 40px; */
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;

}

.pillar p {
  text-align: center;
}

.pillar2 {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.green {
  border-left: 6px solid #33E393;
  padding-left: 10px;
}

.yello {
  border-left: 6px solid #FFD175;
  padding-left: 10px;
}

.red {
  border-left: 6px solid #FF0F00;
  padding-left: 10px;
}


.evo {
  padding: 40px 10px;

}

.evo-txt {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}

.evo-txt h2 {
  text-align: left;
}

.cores {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

.ovam ul {
  list-style: none;
  padding: 0;
}

.ovam h2 br {
  display: none;
}

.ovam h2 {
  padding-bottom: 10px;
}

.values ul {
  list-style: none;
  padding: 0;
}


.values h2 {
  padding-bottom: 10px;
}

.greenborder {
  height: 211px;
  width: 2px;
  border-radius: 20px;
  background: #1A5339;
  display: none;
}


.our {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 10px;
  /* align-items: center; */
  justify-content: center;
}

.founder {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 10px;
  align-items: center;
}

.impact {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 10px;
  align-items: center;
}


.fimg img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}



/* NAVBAR */
nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;

}

.navbar-open-btn {
  color: #FEE33C;
  padding: 5px;
  font-size: 25px;
}

/* TOP NAV */
.topnav {
  display: none;
  font-family: 'Libre Baskerville';
  background-color: transparent;
  justify-content: space-between;
}

.no-hero {
  background-color: #1A5339;
  ;
}

.topnav a {
  color: #f2f2f2;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 12px;
  border-top: 3px solid transparent;
}

.topnav a:hover {
  border-top: 3px solid #FEE33C;
  color: #FEE33C;
}

.topnav a.active {
  border-top: 3px solid #FEE33C;
  color: #FEE33C;
}


/* CONTENT */

.logo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thanks-content {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

}

blockquote {
  padding-left: 60px;
  padding-right: 60px;
}

.title {
  font-family: 'Libre Baskerville';
  color: #000;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}

.about-title {
  padding-top: 40px;
  padding-bottom: 10px;
}

.about-subtitle {
  padding-bottom: 10px;
}

.thanks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.founders {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
  gap: 20px;

}

.founders-card {
  background-color: #D9D9D9;
  padding: 20px 10px;
  border-radius: 5px;
}

.founders-title {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  align-items: center;
}

/* .subtitle {
  font-family: 'Libre Baskerville';
  color: #0000;
  padding-left: 60px;
  padding-right: 60px;
} */

.subtitle {
  text-align: center;
  /* font-family: Inter; */
  /* font-size: 50px; */
}

.copy {
  width: 100%;
  text-align: center;
  padding: 0 10px;
}

.letter {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}

.letter-title {
  padding-bottom: 10px;
}

.letter-sport {
  line-height: 40px;
}

.letter-points {
  line-height: 40px;
  font-weight: bold;
}

.letter-points-wrapper {
  padding-bottom: 60px;
}

.letter-col img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 20px;

}

.letter-world {
  padding-bottom: 40px;
}

.letter-deep {
  padding-bottom: 20px;
}

img {
  border-radius: 10px;
}


footer .copy {
  background-color: black;
  color: white;
  padding: 50px;
}

/* IMAGE GRID */
.image-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.img-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.image-grid img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}


.thanks-wrapper img {
  width: 100%;
  /* object-fit: cover; */
}

.founders-title img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}


/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url('../colorbg.png');
  height: 20vh;
  background-color: #1A5339;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding: 0 10px;
}



/* ABOUT uS */

.page-name {
  text-align: center;
  padding: 30px 0;
  background-color: #1A5339;
  border-top: 1px solid #ffefbd;
  color: #fff;
  width: 100%;
}

.page-name h2 {
  text-transform: uppercase;
  font-size: 40px;
}

.about-history {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 100px 0;

}

.history {
  padding-left: 10px;
  padding-right: 10px;
}

.history-pic {
  padding-left: 10px;
  padding-right: 10px;

}

.history-pic img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* NAVBAR OVERLAY */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Libre Baskerville';
}

.overlay a {
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .navbar-close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 60px;
}




/* TABLET STYLES */

@media screen and (min-width: 768px) {
  .image-grid {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }



  .topnav {
    display: none;
  }

  .logo-image {
    width: 400px;
  }

  .about-history {
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .history-pic {
    width: 45%;
  }

  .history-pic img {
    width: 100%;
    object-fit: cover;
  }

  .history {
    width: 45%;
  }

  .subtitle {
    text-align: left;
  }

  .our-pillars {
    height: 70vh;
  }

  .pillars {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

  }

  /* .pillar {
    width: 50%;
  } */

  .pillar p {
    text-align: left;
  }

  .pillar2 {
    text-align: left;
    width: 50%;
  }

  .cores {
    flex-direction: row;
    justify-content: center;

    /* gap: 40px; */
    /* padding-top: 40px; */
  }

  .greenborder {
    display: block;
    margin: 0 40px;
  }

  .evo-txt {
    align-items: center;
    justify-content: center;
  }

  .evo-txt h2 {
    text-align: center;
  }

  .evo-txt p {
    text-align: center;
  }



  .founder {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: none;
  }

  .impact {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: none;
  }

  .fimg {
    width: 50%;
    /* overflow: hidden; */
  }

  .ftext {
    width: 50%;
  }

  .fimg img {
    width: 100%;
    object-fit: contain;
  }
}


/* DESKTOP STYLES */
@media screen and (min-width: 900px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .navbar-close-btn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .image-grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-grid img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .img-col {
    flex-direction: row;
  }

  .navbar-open-btn {
    display: none;
  }

  .hero {
    height: 100vh;
  }

  .thanks-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .founders {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
  }

  .thanks-img {
    width: 45%;
    object-fit: cover;
  }

  .founders-card {
    width: 45%
  }

  .thanks-text {
    width: 45%
  }


  .letter {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .letter-col {
    width: 45%;
  }

  .letter-col img {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: top;
  }

  /* .copy {
    width: 70%;
  } */

  .topnav {
    display: flex;
  }

  nav {
    justify-content: center;
  }

  /* .logo-image {
    width: 400px;
  } */

  .history-pic {
    width: 50%;
  }

  .history-pic img {
    width: 500px;
    object-fit: cover;
  }

  .history {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .history-pic {
    width: 35%;
  }

  .history-pic img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .fimg img {
    width: 70%;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
  }

  .history {
    width: 35%;
  }
}